@page "{userId}/{agencyId}/{initPage}"
@model CourseProject.Pages.ViewTravelAgencyModel
@{
    ViewData["Title"] = "ViewTravelAgency";
}

<h1 class="display-4">@Model.Agency.Title</h1> <br />
<h3>Tours, provided by current agency <span class="badge badge-info">@Model.ChosenTours.Count</span></h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Duration</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.ChosenTours.Count; i++)
    {
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@Model.ChosenTours[i].Title</td>
            <td>@Model.ChosenTours[i].Duration</td>
            <td>@(((DateTime)Model.ChosenTours[i].Start).ToShortDateString())</td>
            <td>@(((DateTime)Model.ChosenTours[i].End).ToShortDateString())</td>
        </tr>
    }
</table> <br />
<form method="post">
    <input hidden asp-for="Agency.Id" />
    <input hidden asp-for="UserId" />
    <input hidden asp-for="InitialPage" />
    <button type="submit" class="btn-lg btn-secondary">Return</button>
</form>

